.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 12rem;
    height: 9rem;
}
.header-menu{
    display: flex;
    list-style: none;
    color: rgb(255, 255, 255);
    gap: 2rem;
    margin-top: 2.5rem;
}
.header-menu>li:hover{
    cursor: pointer;
    color: orange;
}
@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 600px){
    .header-menu{
        visibility: hidden;
    }
    .logo{
        position: relative;
        margin-left: 2rem;
        
    }
}