.testimonials_heading{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    align-items: center;
    text-overflow: inherit;
    padding-bottom: 2rem;
}
.testimonials_heading>:nth-child(2){
    font-size: 1rem;
    color: white;
    letter-spacing: 0.8rem ;
}
.testimonials_container{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    gap: 2rem;
}
.gallery{
    display: grid;
    /* flex: 1 1; */
    gap: 0.6rem;
    grid-auto-rows: 1fr;
    width: 50%;
}
.gallery>video{
    object-fit: cover;
    border: 2px solid var(--orange);
}
.gallery>img{
    object-fit: cover;
    border: 2px solid var(--orange);
}
.gallery>:nth-child(1){
    width: 18rem;
    grid-row: 1/3;
    height: 32rem;
}
.gallery>:nth-child(2){
    width: 22rem;
    grid-row: 2/3;
    height: 16rem;
}
.gallery>:nth-child(3){
    width: 22rem;
    height: 16rem;
}
.gallery>:nth-child(4){
    width: 22rem;
    height: 18rem;
}
.Testimonials{
    /* flex: 1 1; */
    position: relative;
    width: 40%;
    height: 32rem;
}
.swiper-pagination-bullet-active{
    background: palevioletred;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: var(--orange);
    border-radius: 2rem;
    width: fit-content;
    /* Center slide text vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.client__review{
    display: block;
    color: var(--color-light);
    font-weight: 300;
    width: 50%;
    margin: 0.8rem auto 0;
}
.client__avatar {
    overflow: hidden;
    border-radius: 50%;
    border: 0.4rem solid var(--color-primary-variant);
}
.client__avatar>img{
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}