.navbar{
    display: none;
}
.nav{
    width: 8rem;
    height: 13rem;
    /* background-color: orange; */
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}
.burger_menu{
    height: 10%;
    width: 2.5em;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}
.burger-bar{
    width: 2.5em;
    height: 0.3em;
    background-color: rgb(0, 204, 255);
    border-radius: 0.5em;
}
.menu{
    background-color: rgba(92, 92, 92, 0.822);
    height: fit-content;
    margin-top: -11rem;
    margin-right: 0.5rem;
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
.burger-bar .clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}
.burger-bar .clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}
.burger-bar .clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.45s;
}
.burger-bar .unclicked{
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 600px){
    .menu ul{
        display: flex;
        flex-direction: column;
    }
    .menu{
        padding-bottom: 2rem;
        padding-top: 1.5rem;
    }
    .navbar{
        display: block;
    }
}